h1 {
	text-align: center;
	font-family: austin;
	font-size: 50px;
	margin: 20px;
	font-weight: 500;
}

li {
	display: inline;
	font-family: austin;
}

ul {
	text-align: center;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
 	color: black;
}

a:hover {
	color: gray;
	text-decoration: none;
}

p {
	font-family: austin;
	text-align: center;
}

h1 a:hover {
	color: black;
}