
p {
	font-family: austin;
	text-align: center;
	font-style: italic;
}

#header{
	width: 100%;
	display: block;
	clear: both;
}

#header li{
	width: 20%;
	float: left;
	white-space: nowrap;
}

span.icon-next{
	right: 0;
}

.carousel {
	position: relative;
	height: 526px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}




