

#header{
	width: 100%;
	display: block;
	clear: both;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 63em
}

#header li{
	width: 20%;
	float: left;
	white-space: nowrap;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }